<div class="box">
  <article class="media">

    <div class="media-content">
      <div class="content">
        <% if comment.created_at != nil  %>
        <p>Posted <%= distance_of_time_in_words(comment.post.created_at, comment.created_at) %> later</p>
        <% end %>
  <p>

          <strong><%= comment.name %> </strong>

            <%= comment.title %>
            <br>

        </p>

        <p>
           <%= comment.comment %>
        </p>

      </div>
    </div>

  <%= link_to "Edit", edit_post_comment_path(comment.post.id, comment.id), class: "button is-success"%>

  <hr />

    <%= link_to 'Delete', [comment.post, comment],
              method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>

  </article>
</div>
